*{
    margin: 0;
    padding: 0;
}
.grid-container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}
.grid-container,
.grid-container * {
    box-sizing: border-box;
}

/*为row类清除浮动来防止由浮动元素造成的外边距折叠*/
.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
    padding: 10px;
}
[class*='col-']>p{

    padding: 0;
    margin: 0;
    height: 50px;
    background: #eee;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.outline p {
    outline: 1px solid #999;
}

@media all and (max-width: 768px) {
    .col-4{
        width: 50%;
    }
    .col-4:last-of-type{
        width: 100%;
    }
    .col-1{
        width: 16.66%;
    }
    .col-2:nth-child(3){
        width: 66.66%;
    }
    .col-2:nth-child(4){
        width: 25%;
    }
    .col-6:last-of-type{
        width: 25%;
    }
}
