*{
    margin: 0;
    padding: 0;
}
.grid-container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}
.grid-container,
.grid-container * {
    box-sizing: border-box;
}

/*为row类清除浮动来防止由浮动元素造成的外边距折叠*/
.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: calc(100% * (1 / 12));
    padding: 10px;
}
[class*='col-']>p{
    text-align: center;
    padding: 0;
    margin: 0;
    height: 50px;
    background: #eee;
    line-height: 50px;
}
.col-1 {
    width: calc(100% * (1 / 12));
}

.col-2 {
    width: calc(100% * (2 / 12));
}

.col-3 {
    width: calc(100% * (3 / 12));
}

.col-4 {
    width: calc(100% * (4 / 12));
}

.col-5 {
    width: calc(100% * (5 / 12));
}

.col-6 {
    width: calc(100% * (6 / 12));
}

.col-7 {
    width: calc(100% * (7 / 12));
}

.col-8 {
    width: calc(100% * (8 / 12));
}

.col-9 {
    width: calc(100% * (9 / 12));
}

.col-10 {
    width: calc(100% * (10 / 12));
}

.col-11 {
    width: calc(100% * (11 / 12));
}

.col-12 {
    width: calc(100% * (12 / 12));
}


.outline p {
    outline: 1px solid #999;
}

@media all and (max-width: 768px) {
    .col-4{
        width: 50%;
    }
    .col-4:last-of-type{
        width: 100%;
    }
    .col-1{
        width: 16.66%;
    }
    .col-2{
        -webkit-order: 2;
        -moz-order: 2;
        -ms-order: 2;
        -o-order: 2;
        order: 2;
        width: 25%;
    }
    .col-6:last-of-type{
        width: 66.66%;
    }
}
