.color-select-container {
    display: flex;
    align-items: stretch;
    margin: 20px;
}

.color-panel-wrapper {
    position: relative;
    display: flex;
}

.color-panel-btn {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #f0f;
    cursor: pointer;
    margin: -10px 0 0 -10px;
    top: 0;
    left: 0;
}

.color-bar-wrapper {
    position: relative;
    margin-left: 30px;
	display: flex;
}

.color-bar {
    width: 10px;
    background: linear-gradient(to bottom, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
    border-radius: 5px;
}

.color-bar-btn {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #f0f;
    cursor: pointer;
    margin: -10px 0 0 -5px;
    top: 0;
	left: 0;
}

.color-value {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
}

.color-value > hr {
    margin: 0;
    border: none;
    background: #ddd;
    height: 2px;
}

.color-RGB {
    flex: 1;
    padding-bottom: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.color-HSL {
    flex: 1;
    padding-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.color-value-wrapper {
    height: 45px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.color-value-wrapper > span {
    line-height: 45px;
}

.color-value-wrapper > input {
    height: 100%;
    width: 150px;
    padding-left: 1em;
    padding-right: calc(1em + 30px);
    margin-left: 15px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
}

.inpbtn-up,.inpbtn-down {
    position: absolute;
    height: 50%;
    width: 30px;
    right: 0;
    cursor: pointer;
}
.inpbtn-up{
    top: 0;
    border-left: 2px solid #ddd;
    border-radius: 0 3px 0 0;
}

.inpbtn-down {
    bottom: 0;
    border-left: 2px solid #ddd;
    border-radius: 0 0 3px 0;
}

.inpbtn-up:hover,.inpbtn-down:hover{
    background: #ddd;
}
.inpbtn-up::before{
    content: "";
    display: block;
    position: absolute;
    border-color: transparent transparent #ddd;
    border-style: solid;
    border-width: 0 6px 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inpbtn-down::before{
    content: "";
    display: block;
    position: absolute;
    border-color: #ddd transparent transparent;
    border-style: solid;
    border-width: 8px 6px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inpbtn-up:hover::before{
    border-color: transparent transparent #fff;
}
.inpbtn-down:hover::before{
    border-color: #fff transparent transparent;
}

.color-current-wrapper {
    width: 200px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.color-current-panel {
    height: 200px;
    background: #000;
    border-radius: 5px;
}

.color-current-value {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    flex: 1;
}

.color-current-value-wrapper >span {
    line-height: 40px;
}

